html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

header {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid;
}

.app-main {
  display: flex;
  flex-direction: row;
}

.main-notes,
.sidebar {
  padding: 1em;
}

.sidebar {
  min-width: 300px;
  text-align: center;
}

.main-notes {
  flex: 1; 
  display: block;
}

.main-notes__list {
  width: 100%; 
}

.folders-nav__item a {
  display: flex;
  line-height: 1;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 1em;
}

.folders-nav__item a.active {
  background-color: #000;
  color: #FFF;
}

.note {
  padding: 1em;
}

.note,
.folders-nav__item {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #000;
}