html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

header {
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid;
}

.app-main {
  display: flex;
  flex-direction: row;
}

.main-notes,
.sidebar {
  padding: 1em;
}

.sidebar {
  min-width: 300px;
  text-align: center;
}

.main-notes {
  flex: 1; 
  display: block;
}

.main-notes__list {
  width: 100%; 
}

.folders-nav__item a {
  display: flex;
  line-height: 1;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 1em;
}

.folders-nav__item a.active {
  background-color: #000;
  color: #FFF;
}

.note {
  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note,
.folders-nav__item {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #000;
}

.form {
  padding: 0 20px 20px 20px;
}

.top-form__toggler {
  cursor: pointer;
  padding: 20px;
}

button {
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none; 
  background-color: darkslategray;
  color: #FFF;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1; 

  font-weight: 800;
  height: 3rem;
  min-width: 200px;
}

button:hover,
button:focus {
  background-color: black;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: lightslategray;
}

input,
select {
  height: 3rem;
}

input,
select,
textarea {
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-family: inherit;
  font-size: inherit;
}

label {
  padding: 0 0.5em 0.25em;
}

textarea {
  height: 10em;
}

.add-note-form,
.add-folder-form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.add-folder-form input,
.add-folder-form button {
  width: 100%;
}

.add-folder-form h2 {
  line-height: 1.5;
}

.error-message {
  padding: 0.5em;
  color: red;
}

.sidebar h3 {
  margin-top: 1em;
}